body {
    background-color: rgba(16, 62, 155, 0.801);
    font-size: 18px;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    color: rgb(0, 0, 0);
}

h3 {
    text-align: left;
    text-decoration-line: underline;
}

p {
    text-align: center;
}

#qualidade {
    text-decoration-line: underline;
    font-size: 24px;
    text-align: left;
}

#serviço {
    color: rgb(214, 192, 162);
}

.itens {
    font-style: italic;
    font-style: normal;
    font-size: 20px;
}

#contato {
    color: rgb(189, 206, 186);
}