#titulo {
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgba(140, 145, 155, 0.801);
    font-size: 18px;
    color: rgb(0, 0, 0);
}

h1 {
    text-align: center;
    text-decoration-line: underline;
    color: rgb(0, 0, 0);
}

h3 {
    text-align: left;
}

p {
    text-align: center;
}

#qualidade {
    font-size: 24px;
    text-align: left;
}

#serv {
    background-color: rgb(31, 29, 5);
}

#serviço {
    color: rgb(223, 216, 207)
}

.itens {
    font-style: italic;
    font-size: 20px;
    color: rgb(194, 194, 194);
}

#contato {
    color: rgb(26, 61, 20);
    text-decoration-line: underline;
}

em strong {
    font-style: italic;
    font-size: 20px
}

#imag {
    border: 3px; border-style: solid; border-color: rgb(1, 1, 8);
    padding: 10px;
    margin: 5px;
    width:100%;
    height: 500px;

}

#energia {
    width: 100%;
    height: 190px;
}